@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: 'Epilogue', sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
main{
    background-color: hsl(0, 0%, 98%);
    min-height: 100vh;
    width: 100%;
}
header{
    position: relative;
    height: 3.75rem;
    padding: 2.7rem;
    display: flex;
    align-items: center;
}
nav{
    position: relative;
    margin-left: 3.6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav ul,.cta{
    display: flex;
}
nav ul li{
    margin-right: 2.3rem;
}
nav ul li a{
    font-size: 0.9375rem;
    font-weight: 700;
    color: hsl(0, 0%, 41%);
}
nav ul li a img{
    margin-left: 0.3rem;
}
nav ul li a svg{
    margin-left: 0.3rem;
    display: none;
}
nav ul li a:hover{
    color: hsl(0, 0%, 8%);
}
nav ul li a:hover img{
    display: none;
}
nav ul li a:hover svg{
    display: inline;
}
nav ul li a:hover svg path{
    stroke: hsl(0, 0%, 8%);
}

.cta button{
    font-size: 0.81rem;
    font-weight: 700;
    color: hsl(0, 0%, 41%);
    min-width: 6.3rem;
    height: 2.5rem;
    border-radius: 0.875rem;
    outline: none;
    background-color: transparent;
    transition: 0.5s;
    border: 2px solid hsl(0, 0%, 41%);
}
.cta button:hover{
    color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
}
.cta button:first-child{
    border: 0;
}
.drop__down{
    position: absolute;
    top: 115%;
    background-color: hsl(0, 0%, 98%);
    display: none;
    flex-direction: column;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 2px 3px 10px rgba(10, 10, 10, 0.212);
}
nav ul li:hover .drop__down{
    display: flex;
}
.drop__down a{
    font-weight: 500;
}
.drop__down a:not(:last-child){
    margin-bottom: 16px;
    margin-right: 16px;
}
.drop__down1{
    left: -6%;
    width: 153px;
    height: 160px;
    padding: 1rem;
}
.drop__down1 img{
    margin-right: 0.5rem;
}
.drop__down2{
    width: 120px;
    height: 130px;
    padding: 1.6rem 1rem;
}
section{
    width: 100%;
    padding: 2% 8rem 10%;
    display: flex;
    gap: 1.3rem;
}
.hero__section{
    margin-top: 7.3rem;
    padding-left: 38px;
}
.hero__section .desktop{
    color: hsl(0, 0%, 8%);
    font-size: 4.9rem;
    margin-bottom: 3.3rem;
    font-weight: 700;
}
.hero__section .mobile{
    display: none;
}
.hero__section p{
    font-size: 1.125rem;
    width: 68%;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 3.2rem;
}
.hero__section button{
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.875rem;
    outline: 0;
    font-weight: 700;
    font-size: 18px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    margin-bottom:6.5rem;
    transition: 0.5s;
}
.hero__section button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 8%);
}
.sponsors img{
    margin-right: 2.2rem;
}
.hero__img{
    width: 70%;
    padding: 0.92rem 0 0 1.1rem;
}
.hero__img img{
    width: 100%;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 1398px){
    .hero__img img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 866px) {
    nav{
        background-color: hsl(0, 0%, 98%);
        position: fixed;
        right: 0;
        top: 0;
        width: 67vw;
        height: 100vh;
        display: none;
        justify-content: left;
        align-items: normal;
        flex-direction: column;
        padding: 5rem 20px;
    }
    nav.active{
        display: flex;
    }
    nav ul li{
        margin-bottom: 2rem;
    }
    .drop__down{
        position: relative;
        top: 10px;
        background-color: transparent;
        box-shadow: none;
    }
    nav::before{
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        width: 33vw;
        height: inherit;
        background: rgba(10, 10, 10, 0.212);
    }
    nav ul, .cta{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        margin-bottom: 1.2rem;
    }
    .toggle__btn{
        position: absolute;
        right: 10%;
        background-image: url('./images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 1.875rem;
        height: 1.875rem;
    }
    .toggle__btn.active{
        position: fixed;
        background-image: url('./images/icon-close-menu.svg');
    }
    section{
        padding: 5%;
        flex-direction: column-reverse;
    }
    .hero__img,.hero__section{
        width: 100%;
    }
    .hero__section{
        margin-top: 1rem;
        text-align: center;
    }
    .hero__section .mobile{
        display: block;
        font-size: clamp(1.8rem, 2.5vw, 3rem);
        margin-bottom: 1.3rem;
    }
    .hero__section .desktop{
        display: none;
    }
    .hero__section p{
        font-size: 1rem;
        width: 100%;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .hero__section button{
        margin-bottom: 3rem;
    }
    .sponsors{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sponsors img{
        width: 25%;
        margin-right: 0.5rem;
    }
}